<!DOCTYPE html>
<html>
<head>
    <title>Penentuan Jalur Terpendek</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Penentuan Jalur Terpendek</h1>
    <button id="openModal">Lihat Graf</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="{{ url_for('static', filename='GRAF VELANGKANNI.png') }}" alt="Graf Velangkanni">
        </div>
    </div>
    <form action="/result" method="post">
        <label for="start">Simpul Awal:</label>
        <input type="text" id="start" name="start"><br><br>
        <label for="end">Simpul Akhir:</label>
        <input type="text" id="end" name="end"><br><br>
        <input type="submit" value="Cari Jalur">
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
